<link rel="stylesheet" href="/css/footer.css">
<footer>
    <div class="about">
      <h1><span class="logo-text">"Rev Engines"</span> </h1>
      <p>
        Try Your Best to Pass the test and Ignore the Rest.
      </p>
      <div class="contact">
        <span>
          <i class="fas fa-phone"></i>
          <a href="tel:+918873232082">+91 8873232082</a>
        </span>
        <span>
          <i class="fas fa-envelope"></i>
          
          <a href="mailto:kun9577@gmail.com">
            kun9577@gmail.com
        </a>
        </span>

      </div>
      <div class="socials">
          <a href="https://www.youtube.com/channel/UCeJRXg78vRKnplHU5lGh1QA" target="_blank">
              <i class="fab fa-youtube"></i>
          </a>
          <a href="https://www.instagram.com/tropnicates" target="_blank">
              <i class="fab fa-instagram"></i>
          </a>
          <a href="https://twitter.com/Tropnicates" target="_blank">
              <i class="fab fa-twitter"></i>
          </a>
          <a href="https://web.snapchat.com/5074453c-aeda-5b10-8ab1-281bbeec3f0f" target="_blank">
              <i class="fab fa-snapchat"></i>
          </a>
      </div>
  </div>
       
  </footer>