/* Nav */
nav {
  width: 100%;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

nav img {
  width: 50px;
  margin: 4px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 0;
}

nav ul li {
  padding: 0 10px;
}

nav ul li a {
  text-decoration: none;
}

.menu-icon {
  cursor: pointer;
  font-size: 2.5rem;
  display: none; /* Hide the hamburger menu icon for larger screens */
}

/* Mobile first responsive design */
@media (max-width: 675px) {
  .menu {
    display: none; /* Hide the menu by default for mobile screens */
  }

  .menu-icon {
    display: block; /* Show the hamburger menu icon for mobile screens */
  }

  input[type="checkbox"] {
    display: none; /* Hide the checkbox input for mobile screens */
  }

  /* When the hamburger menu is checked, display the menu */
  input[type="checkbox"]:checked ~ .menu {
    display: flex;
  }
}
/* Mobile first responsive design */
@media (min-width: 675px) {
  /* ... other existing CSS rules ... */

  input[type="checkbox"] {
    /* Add the following CSS to hide the checkbox input */
    display: none;
  }

  /* ... other existing CSS rules ... */
}

