<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/42a182743f.js"
      crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/form.css" />
    <title>Post Creation</title>
  </head>
  <body>
    <%-include('../partials/navbar.ejs') %>
    <div class="form-container">

      <h1>
        Add Post

        <i class="fas fa-plus"></i>
      </h1>
      <%if(error){%>
      <small class="error">
        <i class="fas fa-exclamation-circle"></i>
        <%=error%>
      </small>
      <%}%>
      <form enctype="multipart/form-data" action="/api/v1/posts" method="POST">

        <div class="input-wrapper">
          <label for="name">Post Title</label>
          <input type="text" name="title" id="name" />

        </div>

        <div class="input-wrapper">
          <label for="category">Category</label>
          <select name="category" id="category">
            <option value="Select">Select</option>
            <option value="Technology">Sedan</option>
            <option value="Life-Experiences">SUV</option>
            <option value="Trending">Hatchback</option>
            <option value="Daily Life">Sports</option>
            <option value="Love">Pickup</option>
            <option value="Other">Other</option>
          </select>

        </div>
        <div class="input-wrapper">

          <label for="body">Post Body</label>
          <textarea name="description" id="body" cols="30" rows="10"></textarea>
        </div>

        <div class="input-wrapper">
          <label for="image">Post Image</label>
          <input type="file" name="file" id="image" />
        </div>

        <button type="submit">Create</button>
      </form>
    </div>

    <%-include('../partials/footer.ejs') %>
  </body>
</html>
